@import url("https://fonts.googleapis.com/css2?family=Georama&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background: #80b8fb;
}

*::selection {
  background: #80b8fb;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background: #fff7bc;
}

body.active::-webkit-scrollbar-thumb {
  background: #5c5527;
}

::-webkit-scrollbar-thumb {
  background: #fff7bc;
}

@font-face {
  font-family: "panton";
  src: url(../font/iCielPanton-Light.otf);
}

html {
  font-family: "panton", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

.dff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.t1 {
  background: rgba(204, 204, 204, 0.6);
}

.t2 {
  background: rgba(202, 67, 67, 0.6);
}

.pt {
  width: 100%;
  padding-top: var(--pt);
}

.wrapper-frame {
  width: 100%;
}

.wrapper-frame--full {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frame1280 {
  width: 1280px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.normalImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.btn {
  outline: none;
  font-family: "Georama", sans-serif;
  text-transform: uppercase;
  border: 1px solid #000;
  background: #fff;
  padding: 8px 32px;
}

.btn--round {
  border-radius: 100px;
}

.btn--noOutline {
  border-color: transparent;
}

:root {
  --header_height: 50px;
  --header_bg_color: transparent;
  --header_bg_color-active: #fff7bc;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Georama", sans-serif;
  background: #fff7bc;
}

body.modal-active header {
  right: 8px;
}

.header__wrapper {
  width: 94%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  font-size: 18px;
  height: 100%;
}

.header__item > a {
  height: 100%;
  padding: 0 32px;
}

.header__logo {
  position: relative;
  padding: 0 40px;
}

.header__logo::after, .header__logo::before {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) skewX(-20deg);
          transform: translateY(-50%) skewX(-20deg);
  content: "";
  width: 1px;
  height: 80%;
  background: #5c5843;
  opacity: 0;
}

.header__logo::before {
  right: unset;
  left: 0;
}

.header__logo > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 40px;
  -webkit-transform-origin: top;
          transform-origin: top;
  cursor: pointer;
}

.header__logo > a > img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: hue-rotate(-8deg);
          filter: hue-rotate(-8deg);
}

.header__user {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__user-sign {
  font-size: 15px;
  padding: 0 8px;
  cursor: pointer;
}

.header__user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.header__user-avatar > i {
  font-size: 26px;
}

.main {
  max-width: 100%;
  position: relative;
}

section {
  will-change: transform;
}

*[data-cant_click] {
  cursor: pointer;
}

.deepBG-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.deepBG-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.deepBG-img::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  z-index: 1;
  pointer-events: none;
}

.sectionWrapper {
  min-height: calc(100vh - var(--header_height));
  padding: 20px 0;
}

body.active #fullpage::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

#fullpage {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 8;
  height: 100vh;
  background: #fff7bc;
  will-change: transform;
}

#fullpage::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#fullpage .main_avatar {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 50%;
  height: 80%;
  padding-bottom: 10px;
}

#fullpage .main_avatar > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center bottom;
     object-position: center bottom;
  will-change: transform, opacity;
}

.intro {
  position: absolute;
  z-index: 1;
  top: calc(50px + 20vh);
  left: 0;
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 40px;
}

.intro__title-sup {
  position: relative;
  top: 26px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  font-family: "Georama", sans-serif;
  color: #5c5843;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.intro__title-sup > span {
  display: inline-block;
}

.intro__title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  font-size: calc(20px + 4vw);
  color: #5c5843;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  font-family: "Georama", sans-serif;
  line-height: 1.6;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 0.6s;
  transition: border-color 0.6s;
}

.intro__title > span {
  display: inline-block;
  position: relative;
  will-change: left, transform;
}

.intro__arrow {
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 2px;
  margin-left: 40px;
  background: #5c5843;
  margin-top: 74px;
}

.intro__arrow .intro__arrowHead {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff7bc;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 2px #5c5843, 0 0 0 10px #fff7bc;
          box-shadow: 0 0 0 2px #5c5843, 0 0 0 10px #fff7bc;
}

.intro__arrow .intro__arrowHead::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff7bc;
  -webkit-box-shadow: 0 0 0 2px #5c5843, 0 0 0 10px #fff7bc;
          box-shadow: 0 0 0 2px #5c5843, 0 0 0 10px #fff7bc;
}

.intro__arrow .intro__arrowHead::before {
  z-index: 1;
  -webkit-transform: translateY(-50%) scale(0.4) rotate(45deg);
          transform: translateY(-50%) scale(0.4) rotate(45deg);
  right: 3px;
  background: #5c5843;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 86% 100%, 86% 14%, 0 14%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 86% 100%, 86% 14%, 0 14%);
  border-radius: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.intro__des {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  text-align: justify;
  padding-left: 6%;
  font-size: 18px;
  line-height: 1.7;
  margin-top: 50px;
}

.main_threeTypeOfHamster {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.main_threeTypeOfHamster .hamster + .hamster {
  margin-left: 50px;
}

.main_threeTypeOfHamster .hamster .wrapperBG {
  position: relative;
  width: calc(100px + 5vw);
}

.main_threeTypeOfHamster .hamster .wrapperBG > .pt {
  position: relative;
}

.main_threeTypeOfHamster .hamster .avatar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.main_threeTypeOfHamster .hamster .avatar--food {
  -webkit-filter: hue-rotate(40deg);
          filter: hue-rotate(40deg);
}

.main_threeTypeOfHamster .hamster .hamsterStuff {
  position: relative;
  margin-top: 4px;
  padding: 8px 0;
  text-align: center;
}

.main_threeTypeOfHamster .hamster .hamsterStuff > * + * {
  margin-left: 10px;
}

.main_threeTypeOfHamster .hamster .hamsterStuff__name {
  position: relative;
}

.add-icon {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #000;
  border: 1px solid currentColor;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.add-icon::after, .add-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  width: 60%;
  height: 1px;
  background: currentColor;
}

.add-icon::after {
  width: 1px;
  height: 60%;
}

.section--two {
  position: relative;
  margin-top: 50px;
  padding: 0;
  height: 700px;
  max-height: calc(100vh - 50px);
}

.section--two .slider {
  position: relative;
  height: 100%;
}

.section--two .slider ul {
  width: 100%;
  height: 100%;
}

.section--two .slider ul .flickity-page-dots {
  bottom: 0 !important;
}

.section--two .slider ul li {
  width: 100%;
  height: 100%;
}

.section--two .slider ul li > .cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.04);
  overflow: hidden;
  pointer-events: none;
}

.section--two .slider ul li > .cover > .frame1280 {
  position: relative;
}

.section--two .slider ul li > .cover * {
  height: 100%;
}

.section--two .slider ul li > .cover .cover_wrapper {
  position: absolute;
  bottom: 0;
  height: 80%;
  pointer-events: all;
}

.section--two .slider ul li > .cover .cover_wrapper > img {
  position: relative;
  z-index: 1;
  height: 100%;
  -o-object-position: bottom;
     object-position: bottom;
  will-change: transform;
}

.section--two .slider ul li > .cover .cover_wrapper::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130%;
  padding-top: 130%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--beforeBG);
  opacity: 0.1;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
  content: "";
  pointer-events: none;
}

.section--two .slider ul li > .cover .cover_wrapper:hover::before, .section--two .slider ul li > .cover .cover_wrapper.active::before {
  -webkit-transform: translate(-50%, -50%) scale(10);
          transform: translate(-50%, -50%) scale(10);
}

.section--two .slider ul li > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.section--two .slider ul li > .content > .sub-title {
  padding-left: 20px;
  font-size: 20px;
  text-transform: capitalize;
}

.section--two .slider ul li > .content > .title {
  padding-left: 20px;
  font-family: "Georama", serif;
  font-size: 50px;
  text-transform: capitalize;
  font-weight: bold;
  margin: 12px 0;
}

.section--two .slider ul li > .content > .btn {
  margin-left: 20px;
  padding: 16px 32px;
  font-size: 18px;
  text-transform: capitalize;
  background: #5c5843;
  border-color: #5c5843;
  color: #fff;
  cursor: pointer;
}

.section--two .slider ul li.right .cover_wrapper {
  right: 0;
}

.section--two .slider ul li.left .content {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section--two .slider ul li.left .cover_wrapper {
  left: 0;
}

.section--two .slider > .nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section--two .slider > .nav > .dot {
  position: relative;
  width: 12px;
  height: 12px;
  background: #5c5843;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section--two .slider > .nav > .dot.active, .section--two .slider > .nav > .dot:hover {
  opacity: 1;
}

.section--two .slider > .nav > .dot::after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%) scale(1.9);
          transform: translate(-50%, -50%) scale(1.9);
  border-radius: inherit;
  content: "";
}

.section--three {
  --outSideSpacing: 20px;
  background: #fff;
  padding: 20px 0 40px;
}

.section--three .wrapper-product__header {
  margin-top: 40px;
}

.section--three .title {
  font-size: 30px;
  font-family: "Georama", sans-serif;
  margin-bottom: 40px;
  color: #5c5843;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.section--three .main-title {
  margin: 0 20px;
}

.section--three .main-title::after, .section--three .main-title::before {
  content: "--------";
  font-weight: lighter;
  letter-spacing: -2.4px;
}

.section--three .main-title::before {
  margin-right: 8px;
}

.section--three .main-title::after {
  margin-left: 8px;
}

.section--three .sub-title {
  margin-top: 8px;
  font-size: 16px;
  text-transform: none;
  opacity: 0.4;
}

.section--three .sub-title::first-letter {
  text-transform: capitalize;
}

.section--three .product__headers {
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section--three .product__header {
  padding: 0px 24px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.4;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section--three .product__header.active {
  opacity: 1;
}

.section--three .product__header.active .product__header_name {
  color: #5c5843;
  font-weight: bold;
}

.section--three .product__header:not(.active) {
  cursor: pointer;
}

.section--three .product__header-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  color: #5c5843;
  border-bottom: 1px solid currentColor;
  pointer-events: none;
}

.section--three .product__header-nav::after {
  position: absolute;
  bottom: -1px;
  right: 100%;
  width: 100%;
  content: "";
  border-bottom: 1px solid currentColor;
}

.section--three .product__header-nav .nav {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0px;
  bottom: -1px;
  width: 122px;
  border: 1px solid currentColor;
  border-bottom: unset;
  border-radius: 10px 10px 0 0;
  will-change: transform;
}

.section--three .product__header-nav .nav::after {
  position: absolute;
  left: -10px;
  right: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background: #fff;
  content: "";
}

.section--three .product__header-nav .nav .rightCurve,
.section--three .product__header-nav .nav .leftCurve {
  position: absolute;
  z-index: 1;
  left: 100%;
  bottom: 0px;
  height: 10px;
  width: 10px;
  background: #fff;
}

.section--three .product__header-nav .nav .rightCurve::after,
.section--three .product__header-nav .nav .leftCurve::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  border-radius: 0 0 0 10px;
  content: "";
}

.section--three .product__header-nav .nav .leftCurve {
  left: unset;
  right: 100%;
}

.section--three .product__header-nav .nav .leftCurve::after {
  border-left: unset;
  border-right: 1px solid currentColor;
  border-radius: 0 0 10px 0;
}

.section--three .product__header_name {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section--three .wrapper-product__items {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section--three .wrapper-product__items > .wrapper-frame {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  padding-top: 6px;
  z-index: 2;
  background: #fff;
  overflow: hidden;
}

.section--three .wrapper-product__items > .wrapper-frame::after {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
  content: "";
}

.section--three .wrapper-product__items .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.section--three .wrapper-product__items .more .btn {
  font-size: 16px;
  border-radius: 30px;
  text-transform: none;
}

.section--three .products {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.section--three .product {
  position: relative;
  width: calc(100% / 3);
  padding: var(--outSideSpacing);
  will-change: transform, top, left;
}

.section--three .product:not(.sold) .archives:hover, .section--three .product:not(.sold) .archives.active {
  bottom: var(--outSideSpacing);
}

.section--three .product:not(.sold) .archives:hover > .viewAndAddCart, .section--three .product:not(.sold) .archives.active > .viewAndAddCart {
  opacity: 1;
}

.section--three .product:not(.sold) .archives:hover ~ .product__cover, .section--three .product:not(.sold) .archives.active ~ .product__cover {
  --pt: calc(100% + 60px);
}

.section--three .product:not(.sold) .archives:hover ~ .product__cover ~ .product__info, .section--three .product:not(.sold) .archives.active ~ .product__cover ~ .product__info {
  height: 0;
  padding: 0;
}

.section--three .product:not(.sold) .archives:hover ~ .product__cover::after, .section--three .product:not(.sold) .archives.active ~ .product__cover::after {
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.section--three .product:not(.sold) .archives:hover ~ .product__cover .product__cover-img, .section--three .product:not(.sold) .archives.active ~ .product__cover .product__cover-img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.section--three .product .archives {
  position: absolute;
  top: var(--outSideSpacing);
  left: var(--outSideSpacing);
  right: var(--outSideSpacing);
  bottom: calc(var(--outSideSpacing) + 60px);
  z-index: 1;
  font-family: "Georama", serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section--three .product .archives .bestSeller {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  background: #c6e858;
  -webkit-transform: rotate(90deg) translateY(-100%);
          transform: rotate(90deg) translateY(-100%);
  padding: 4px 8px;
  border-radius: 0 8px 0 8px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #000;
  letter-spacing: 1px;
}

.section--three .product .archives .bestSeller > i {
  font-size: 16px;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding-bottom: 8px;
}

.section--three .product .archives .soldArchive {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 2px;
  border-radius: 8px;
}

.section--three .product .archives .soldArchive::after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: #5c5843;
  border-radius: 50%;
  content: "";
}

.section--three .product .archives .viewAndAddCart {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -120%);
          transform: translate(-50%, -120%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.section--three .product .archives .viewAndAddCart > * {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: nowrap;
  width: 100%;
  height: 34px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section--three .product .archives .viewAndAddCart > * .icon {
  font-size: 18px;
}

.section--three .product .archives .viewAndAddCart > * > * {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
}

.section--three .product .archives .viewAndAddCart > * > .text {
  margin-bottom: 12px;
  text-transform: initial;
}

.section--three .product .archives .viewAndAddCart > * + * {
  margin-top: 12px;
}

.section--three .product .archives .viewAndAddCart > *:not(.is-loading):hover {
  background: #c6e858;
}

.section--three .product .archives .viewAndAddCart > *:not(.is-loading):hover > * {
  top: -30px;
}

.section--three .product .archives .viewAndAddCart > *:not(.is-loading):hover > *.icon {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.section--three .product .archives .viewAndAddCart > *.viewAndAddCart__cart > * {
  top: unset;
  bottom: 32px;
}

.section--three .product .archives .viewAndAddCart > *.viewAndAddCart__cart .text {
  margin-bottom: 0;
  margin-top: 12px;
}

.section--three .product .archives .viewAndAddCart > *.viewAndAddCart__cart:hover > * {
  top: unset;
  bottom: 0;
}

.section--three .background_card {
  position: absolute;
  z-index: 0;
  top: calc(var(--outSideSpacing) - 8px);
  left: calc(var(--outSideSpacing) - 8px);
  right: calc(var(--outSideSpacing) - 8px);
  bottom: calc(var(--outSideSpacing) - 8px);
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0 4px 16px rgba(187, 64, 64, 0.08);
          box-shadow: 0 4px 16px rgba(187, 64, 64, 0.08);
}

.section--three .background_card::before {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: -10%;
  z-index: -2;
  background: rgba(187, 64, 64, 0.08);
  -webkit-box-shadow: 0 4px 16px rgba(187, 64, 64, 0.08);
          box-shadow: 0 4px 16px rgba(187, 64, 64, 0.08);
  border-radius: 8px;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  content: "";
  border-radius: 8px;
}

.section--three .background_card::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 8px;
  background: #fff;
  content: "";
}

.section--three .product__cover {
  position: relative;
  width: 100%;
  --pt: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.section--three .product__cover > .pt {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section--three .product__cover::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
}

.product__cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product__info {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 8px 20px 0;
  height: 60px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.product__info .emotion {
  position: relative;
}

.product__info .emotion.active i[class^="fas"] {
  color: #db48a0 !important;
}

.product__info .emotion > i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
  cursor: pointer;
}

.product__info .emotion > i[class^="fas"] {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product__info .emotion > i[class^="far"] {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.2);
}

.product__info .emotion .amount {
  position: absolute;
  top: calc(50% + 3px);
  left: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.product__info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.product__info .name {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  font-size: 20px;
  font-family: "Georama", sans-serif;
  white-space: nowrap;
  margin-bottom: 8px;
}

.product__info .price {
  text-align: right;
  font-size: 14px;
  white-space: nowrap;
}

.section--four {
  --outSideSpacing: 18px;
  padding-bottom: 40px;
}

.section--four .wrapper-product__items .frame1280 {
  padding: 0 80px;
}

.section--four .wrapper-product__header {
  margin-top: 0;
}

.section--four .product__cover {
  --pt: 120%;
}

.section--four .product__cover:hover {
  --pt: 120% !important;
}

.section--four .product__cover:hover ~ .product__info {
  height: unset !important;
  padding: 10px 0 0 !important;
  padding: 0 !important;
}

.section--four .product__cover:hover .product__cover-img {
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
}

.section--four .product {
  width: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section--four .background_card {
  -webkit-box-shadow: 0 1px 8px rgba(187, 64, 64, 0.08);
          box-shadow: 0 1px 8px rgba(187, 64, 64, 0.08);
}

.section--four .background_card::before {
  content: none;
}

.section--four .product__info {
  height: unset;
  padding: 10px 0 0;
  padding: 0;
  margin: 12px;
  margin-bottom: auto;
}

.section--four .product__info .info {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section--four .product__info .info__title {
  font-family: "Georama", serif;
  font-size: 20px;
}

.section--four .product__info .info__date {
  margin: 8px 0;
  margin-left: 4px;
  letter-spacing: 1px;
  font-size: 14px;
}

.section--four .product__info .info__describe {
  line-height: 1.6;
  opacity: 0.8;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.section--five {
  padding-bottom: 40px;
}

.section--five .collections {
  gap: 40px;
}

.section--five .collection {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.section--five .collection .cover {
  position: relative;
  width: 100%;
  --pt: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.section--five .collection .cover .masonryFAKE {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  gap: 6px;
}

.section--five .collection .cover .masonry__itemFAKE {
  position: relative;
}

.section--five .collection .cover .masonry__itemFAKE > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section--five .collection .cover .masonry__itemFAKE:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.section--five .collection .cover .masonry__itemFAKE:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.section--five .collection .cover .masonry__itemFAKE:nth-child(3) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.section--five .collection .cover .masonry__itemFAKE:nth-child(4) {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.section--five .collection .cover .cover__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section--five .collection .cover::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  content: "";
}

.section--five .collection .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section--five .collection .content > * {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
}

.section--five .collection .content > * + * {
  margin-top: 8px;
}

.section--five .collection:nth-child(1) .title {
  font-size: 16px;
  font-weight: 500;
}

.section--five .collection:nth-child(1) .sub-title {
  font-size: 36px;
  font-weight: 600;
  -webkit-animation: ring_ring 3s linear infinite;
          animation: ring_ring 3s linear infinite;
}

@-webkit-keyframes ring_ring {
  5% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  10% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  15% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  20% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  25% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  30% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  35% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes ring_ring {
  5% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  10% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  15% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  20% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  25% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  30% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  35% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.section--five .collection:nth-child(2) .title {
  font-weight: 500;
  font-size: 24px;
}

.section--five .collection:nth-child(2) .sub-title {
  font-size: 18px;
}

.section--five .collection:hover .cover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.grid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.section--final {
  position: relative;
  padding-top: 0;
  min-height: auto !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section--final .deepBackground {
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.section--final .title-wrapper {
  position: relative;
  height: 400px;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section--final .title {
  font-size: calc(20px + 0.6vw);
  color: #fff;
  text-align: center;
}

.section--final .title > .shop_name {
  font-family: "Georama", sans-serif;
  font-size: calc(20px + 2vw);
  color: #fff7bc;
  font-weight: bold;
}

.section--final .title > span {
  display: inline-block;
}

.section--final .reasons {
  width: 100%;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section--final .reason {
  width: 260px;
  max-width: 33.333%;
  margin: 0 50px;
}

.section--final .reason:nth-child(1) i[class*="ti"] {
  top: 44%;
}

.section--final .reason:nth-child(2) i[class*="ti"]:nth-child(1) {
  color: rgba(0, 0, 0, 0.5);
  left: 30%;
  top: 66%;
  -webkit-transform: translate(-50%, -50%) rotate(-30deg);
          transform: translate(-50%, -50%) rotate(-30deg);
  font-size: calc(20px + 0.4vw);
}

.section--final .reason:nth-child(3) span[class="icon"]:nth-child(1) {
  top: 62%;
  left: 26%;
  font-size: calc(20px + 2vw);
}

.section--final .reason:nth-child(3) span[class="icon"]:nth-child(2) {
  color: rgba(0, 0, 0, 0.6);
  top: 56%;
  font-size: calc(20px + 3vw);
}

.section--final .reason:nth-child(3) span[class="icon"]:nth-child(3) {
  top: unset;
  left: unset;
  bottom: 70%;
  right: 30%;
  font-size: calc(20px + 0.6vw);
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.section--final i[class*="ti-"],
.section--final span[class="icon"] {
  color: #a89c48;
  font-size: calc(20px + 1.6vw);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section--final .reason__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section--final .reason__icon {
  position: relative;
  width: 40%;
}

.section--final .reason__icon > .pt > * {
  position: absolute;
}

.section--final .box-icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section--final .box-icon::after, .section--final .box-icon::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
  background: #000;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 1px, 1px 1px, 1px 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 1px, 1px 1px, 1px 100%, 0 100%);
  content: "";
}

.section--final .box-icon::before {
  top: unset;
  left: unset;
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section--final .reason__label {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 20px 0 8px;
  font-weight: 500;
}

.section--final .reason__des {
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  font-family: "Georama", serif;
  opacity: 0.7;
}

.section--final .introduce__deepBG-img > img {
  -o-object-position: center 70%;
     object-position: center 70%;
}

.bottom_BG {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-repeat: repeat-x;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.flickity-slider {
  will-change: transform;
}

.flickity-page-dots {
  bottom: -22px !important;
}

.flickity-page-dots .dot {
  height: 4px !important;
  width: 40px !important;
  margin: 0 !important;
  border-radius: 0 !important;
  background: #f6d365 !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.flickity-page-dots .dot:not(.is-selected):hover {
  opacity: 0.5 !important;
}

.flickity-button {
  position: relative;
  z-index: 1;
  background: transparent !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.flickity-button::before, .flickity-button::after {
  --padding: 0px;
  position: absolute;
  z-index: -1;
  top: calc(0px - var(--padding));
  left: calc(0px - var(--padding));
  right: calc(0px - var(--padding));
  bottom: calc(0px - var(--padding));
  content: "";
  border-radius: inherit;
}

.flickity-button::after {
  --padding: 6px;
  z-index: -2;
  background: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}

.flickity-prev-next-button {
  width: 36px !important;
  height: 36px !important;
  border-radius: 5px !important;
  -webkit-transform: translateY(-50%) rotate(45deg) !important;
          transform: translateY(-50%) rotate(45deg) !important;
}

.flickity-prev-next-button.previous {
  left: -52px !important;
}

.flickity-prev-next-button.previous::before {
  background: linear-gradient(45deg, #f6d365, #fda085);
}

.flickity-prev-next-button.next {
  right: -52px !important;
}

.flickity-prev-next-button.next::before {
  background: linear-gradient(-45deg, #f6d365, #fda085);
}

.flickity-prev-next-button:active.previous {
  left: -60px !important;
}

.flickity-prev-next-button:active.next {
  right: -60px !important;
}

.flickity-button-icon {
  fill: white !important;
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

footer {
  padding-top: 40px;
  background: #f6f6f8;
}

.footerWrapper {
  padding: 0 12px;
}

.footerInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerInformation__Item {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 8px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footerInformation__Item:not(.noLine) {
  cursor: pointer;
}

.flex-column .footerInformation__Item:not(.footerInformation__icon):not(.footerInformation__icons):not(.customerMail) {
  opacity: 0.6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column .footerInformation__Item:not(.footerInformation__icon):not(.footerInformation__icons):not(.customerMail):not(.footerInformation__icon):not(.noLine)::after {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(45deg, #f6d365, #fda085);
  background: #000;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  content: "";
}

.flex-column .footerInformation__Item:not(.footerInformation__icon):not(.footerInformation__icons):not(.customerMail):not(.footerInformation__icon):not(.noLine):hover {
  opacity: 1;
}

.flex-column .footerInformation__Item:not(.footerInformation__icon):not(.footerInformation__icons):not(.customerMail):not(.footerInformation__icon):not(.noLine):hover::after {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
}

.footerInformation__Item:not(.footerInformation__icon) > i[class^="ti"] {
  font-size: 20px;
  margin-right: 8px;
}

.footerInformation__header {
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 500;
}

.footerInformation__header:not(.intro__title) {
  color: #000;
}

.footerInformation__header.intro__title {
  font-size: 30px;
  text-align: left;
  margin-bottom: 9px;
  padding-bottom: 8px;
}

.footerInformation__icon {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000;
}

.footerInformation__icon > i[class^="ti"] {
  font-size: 14px;
}

.footerInformation__icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footerInformation__icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--social-BG);
  width: 0%;
  height: 0%;
  border-radius: 50%;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footerInformation__icon:hover, .footerInformation__icon.active {
  color: #fff;
}

.footerInformation__icon:hover::before, .footerInformation__icon.active::before {
  width: 100%;
  height: 100%;
}

.footerInformation__icon[data-social="fb"] {
  --social-BG: #0164e1;
}

.footerInformation__icon[data-social="tw"] {
  --social-BG: #1d9bf0;
}

.footerInformation__icon[data-social="ins"] {
  --social-BG: #faa155;
}

.footerInformation__icon[data-social="linked"] {
  --social-BG: #007ab9;
}

.footerInformation__icon[data-social="pinterest"] {
  --social-BG: #df0019;
}

.a-mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

.customerMail {
  padding: 1px;
  background: inherit;
  margin: 18px 0 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  padding: 0px;
}

.customerMail__form {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customerMail__box-Mask {
  position: absolute;
  z-index: -1;
  top: 50%;
  height: 100%;
  padding: 1px;
  left: 0;
  right: -2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  opacity: 0.2;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#customerMail__input {
  padding: 0 8px;
  background: transparent;
  text-transform: none;
}

#customerMail__input:focus ~ .customerMail__box-Mask, #customerMail__input:valid ~ .customerMail__box-Mask,
.customerMail__form:hover > #customerMail__input ~ .customerMail__box-Mask {
  opacity: 1;
}

.customerMail__btn {
  background: #000;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  height: 40px;
  width: 100px;
  transition: 0.3s;
}

.copyright {
  margin-top: 40px;
  background: #fff;
  -webkit-box-shadow: 0 -3px 16px rgba(0, 0, 0, 0.06);
          box-shadow: 0 -3px 16px rgba(0, 0, 0, 0.06);
  padding: 12px;
  text-align: center;
}

@media (max-width: 25em) {
  .popupError__404 {
    display: none;
  }
  .popupError__desc {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    margin-bottom: 60%;
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */