$bg_color: #fff7bc;
$bg_color--darker: #5c5527;
$bg_color--darkest: #5c5843;
$dark_theme_text: #ccc;
$dark_theme_background: #252525;
$light_theme_text: #595959;
$light_theme_background: #f0f0f0;
$border_color: #5c5843;
$section_bightYellow_background: #e1d9a4;
$section_bightYellow_background: #fff;
